<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Liver Patient Prediction</h1>
        <label for="">Age</label>
            <input type="text"  placeholder="Age"><br>
        <label for="">Gender</label>
            <input type="text" placeholder="Enter 0 as male,1 as female"><br>
        <label for="">Total_Bilirubin</label>
            <input type="text" placeholder="Total_Bilirubin"><br>
        <label for="">Direct_Bilirubin</label>
            <input type="text" placeholder="Direct_Bilirubin"><br>
        <label for="">Alkaline_phosphotase</label>
            <input type="text" placeholder="Alkaline_phosphotase"><br>
        <label for="">Alamine_aminotransferase</label>
            <input type="text" placeholder="Alamine_aminotransferase"><br>
        <label for="">Aspartate_Aminotrasferase</label>
            <input type="text" placeholder="Aspartate_Aminotrasferase"><br>
        <label for="">Total_protiens</label>
            <input type="text" placeholder="Total_protiens"><br>
    </div>
    
</body>
</html>